$text-color: white;
$text-hover: #e6e6e6;

/*******************
General
*******************/

body {
  background-color: #00ccff;
  color: $text-color;
}

.wrapper {
  margin: 0 2em 1em;
  background-color: #66e0ff;
  padding: 1em;
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: $text-color;
}

h2 {
    text-align: center;
  }

ul {
    list-style: none;
  }

/*******************
HEADING
*******************/

header {
  margin: 0;
  padding: 1.5em 0;
  h1, h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  }
}

/*******************
Navigation
*******************/

nav {
  border: solid;
  margin: 1em 0 0;
  ul {
    margin: 0 1%;
    padding: 2% 0;
    display: flex;
  }
  li {
    text-align: center;
    display: inline-block;
    width: 33.3333333%;
    margin: 0;
    padding: 0;
    a {
      section {
        padding: .5em 0;
        margin: 0 .1em;
        &:hover {
            background-color: #00a3cc; 
            color: $text-hover;
        }
      }
    }
  }
}

.selected  {
  background-color: #00a3cc;   
}

/*******************
Footer
*******************/

footer {
  text-align: center;
  margin: 2em 0;
  clear: both;
  p, a{
    color: $text-hover;
    font-size: 14px;
  }
  p {
    margin: .6em;
    padding: 0em;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: .1em 0;
  }
}

/*******************
About
*******************/

#about {
  section {
    margin: 0 auto;
    width: 3em;
  }
  ul {
    list-style: disc;
  }
  h3, p {
    text-align: center;
  }
  p {
    margin: 0 25%;
    padding: .5em;
  }
}

/*******************
Pictures
*******************/

#pics {
  margin: 2em 0;
  li {
    text-align: center;
    float: left;
    width: 50%;
    margin: 2em 0;
    &:nth-child(3n) {
      clear: left;
    }
  }
  section {
    margin: 0 auto;
    width: 40%;
    background-color: #00a3cc;
    border-radius: 20px;
    max-width: 250px;
    min-width: 180px;
  }
  img {
    width: 100%;
    border-radius: 20px;
    max-width: 250px;
  }
  p {
    margin: 0 10%;
    padding: 0 0 .6em;
    max-width: 80%;
  }
}

/*******************
Favorites
*******************/

table {
  margin: 1.5em auto;
}
td {
  border: solid 2px white;
  padding: .5em;
  background-color: #00a3cc;
}